/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}
/*Selector id*/
#contenedor {
    width: 1200px;
    height: 1200px;
    background-color: cornflowerblue;
    max-width: 0 auto;
}

#encabezado {
    height: 15%;
    background-color: royalblue;
    margin: 1em auto;
}

#menu {
    height: 6%;
    background-color: skyblue;
    margin: 1em auto;
}

#contenido {
    height: 72%;
    width: 61%;
    background-color: rgba(176, 224, 230, 0.612);
    margin: 0.5em;
    float: left;

}
#fueraSeccion{
    height: 72%;
    width: 36%;
    background-color: powderblue;
    margin: 0.5em;
    float: right;
    color: black;

}
#pie {
    height: 15%;
    width: 84.5%;
    text-align: center;
    background-color: royalblue;
    color: white;
    border-radius: 1em;
    margin: 1.5 em;
}

/*Selector de class*/
.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    margin-left: 1em;
    margin-right: 1em;
}

.encabezado_articulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: auto 2em;
}

.imagen{
    display: block;
    border: lpx solid #ddd;
    margin: auto;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

.imagen2{
    display: block;
    border: lpx solid #ddd;
    margin: auto;
    border-radius: 4px;
    padding: 5px;
    width: 270px;
}

/*Selector de etiqueta html*/

ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 4ex; 
    color: white;
}

